/* UNITE windowDecorations */
@import url('/home/riccardo/.local/share/gnome-shell/extensions/unite@hardpixel.eu/styles/gtk4/buttons-right/maximized.css');
/* windowDecorations UNITE */

.titlebar {
    background: #1a355b;
    color:white;
    min-height: 25px;
}

.titlebar:backdrop {
    background: #091a32;
    color:white;
    min-height: 25px;
}
